
body {
  background-color: lightskyblue;
  font-family: "monospace";

}

.flex {
  display: flex;
  justify-content: center;


  table {
    background-color: #5231dd;
    border-style: solid;
    border-color: black;
    border-width: 2px;


    td {
      border-style: solid;
      border-width: 1px;
      border-color: black;
    }

    .head {
      background-color: #5231dd;
      color: white;
    }

    // RANKS
    .Platinum {
      background-color: #2fcfc2;
    }

    .Diamond {
      background-color: #b9f2ff;
    }

    .Jade {
      background-color: #85fa85;
    }

    .Master {
      background-color: #ec44ca;
    }

    //  SCENARIO COLORS


    // 2 same classes, because when I have only one .dynamic, then my styles doesnt work xd
    .Dynamic {
      background-color: #fff1aa;
    }

    .dynamic {
      background-color: #fff1aa;
    }

    .static {
      background-color: #ea9999;
    }

    .strafe {
      background-color: #fed0fe;
    }

    .precise {
      background-color: #a2c4c9;
    }

    .reactive {
      background-color: #a4c2f4;
    }

    .speed {
      background-color: #d5a6bd;
    }

    .evasive {
      background-color: #b4a7d6;
    }
  }
}
$voltaic: #5231dd;
